In [17]:
# 1- In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

In [2]:
import numpy as np
import pandas as pd

In [3]:
root = pd.read_csv(r'C:\Users\aidag\OneDrive\Escritorio\ironhack\learningSet.csv')
df_original = root
df_original.head(5)

C:\Users\aidag\AppData\Local\Temp\ipykernel_7572\4160397925.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  root = pd.read_csv(r'C:\Users\aidag\OneDrive\Escritorio\ironhack\learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
df_copy = df_original.copy()

In [5]:
# 2- Check for null values in all the columns

In [5]:
df_copy.isna().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [6]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

In [7]:
total_nans = df_copy.isna().sum().sum()
total_nans

5158796

In [9]:
# 3- Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. 
     # We will append this list and then drop all the columns in this list later:

# OSOURCE - symbol definitions not provided, too many categories
# ZIP CODE - we are including state already

In [8]:
drop_list = []

In [9]:
drop_list.append('OSOURCE')
drop_list.append('ZIP CODE')

In [11]:
def deletecolumns(df, columns):
    for column in columns:
        if column in df.columns:
            df.drop(column, axis=1, inplace=True)
    return df

df_copy = deletecolumns(df_copy, drop_list)

df_copy.columns

Index(['ODATEDW', 'TCODE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE', 'DOB',
       'NOEXCH', 'RECINHSE', 'RECP3',
       ...
       'TARGET_D', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=480)

In [13]:
# 4- Identify columns that over 85% missing values

In [12]:
missing_percentage = df_copy.isnull().mean() * 100

columns_to_drop = missing_percentage[missing_percentage > 85].index.tolist()

print("The columns that are over 85% missing values are:", columns_to_drop)

The columns that are over 85% missing values are: ['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [15]:
# 5- Remove those columns from the dataframe

In [13]:
df_copy = df_copy.drop(columns=columns_to_drop)

df_copy.head(5)

,ODATEDW,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,61081,,,3712,0,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,91326,,,5202,0,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,27017,,,0,0,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,95953,,,2801,0,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,33176,,,2001,0,X,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [ ]:
# 6- Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females,
    # and "other" for all the rest
    # Note that there are a few null values in the column. We will first replace those null values using the code below:

In [14]:
df_copy['GENDER'].value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [15]:
df_copy['GENDER'] = df_copy['GENDER'].fillna('F')

In [16]:
def reduce_categories(gender):
    if gender == 'M':
        return 'M'
    elif gender == 'F':
        return 'F'
    else:
        return 'OTHER'

df_copy['GENDER'] = df_copy['GENDER'].apply(reduce_categories)

In [17]:
df_copy['GENDER'].value_counts()

GENDER
F        51277
M        39094
OTHER     5041
Name: count, dtype: int64